.carousel-ap {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    position: relative;

    &-img {
        width: 100%;
        height: 223px;
        border-radius: 15px;

        img {
            object-fit: cover;
            width: 100%;
            height: 223px;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
        }
    }
}

.Main{
    display: flex;
    padding-bottom: 38px;
    flex-flow: column wrap;
    gap: 20px;
}