.nav-bar {
    display: flex;
    width: 100%;
    justify-content:space-between ;
    align-items: center;
    padding-top: 1%;
    padding-left: 1%;
    img{
        width: 210px;
    }
    &-links{
        display: flex;
        width: 25%;
        justify-content: space-around;
        a{
            color: #FF6060;
            text-decoration: none;
            font-size: 24px;
        }
        a:hover{
            text-decoration: underline;
            color: #FF6060;
        }
    }  
    
}
.bottomBar{
    text-decoration: underline;
    color: #FF6060;
}

